<%-include('../layout/user/layout')%>
<link rel="stylesheet" href="/stylesheet/productPage.css">
<%- include('../partials/user-header')%>
    <div class="container-fluid" style="background-color:#c2bfbf;">
        <div class="row">
            <!-- Product Images -->
             <% if(product) { %>
            <!-- Cover Image -->
            <div class=" col-sm-4  d-flex " >          
                <div class="product-images  col-sm-4 side-img" style="padding: 2.4vw;">
                    <!-- <ul class="exzoom_img_ul"> -->
                        <img src="/uploads/<%= product.images[0] %>" alt="Product Image 1" class="img-thumbnail mb-2" >
                        <img src="/uploads/<%= product.images[1] %>" alt="Product Image 2" class="img-thumbnail mb-2" >
                        <img src="/uploads/<%= product.images[2] %>" alt="Product Image 3" class="img-thumbnail mb-2">
                    <!-- </ul> -->
                   
                </div>
               <div  class="product-cover col-sm-8 rounded mx-auto d-block" style="margin-top: 5vh;">
                <div id="img-container">
                
                  <img src="/uploads/<%= product.images[0] %>"  id="selectedImage"  alt="Cover Image" class="  img-fluid  "  style="border: 1px solid black;" ></div>
                </div>
            </div> 
         
             <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
  <!-- <div class="exzoom_nav"></div> -->
  <!-- Nav Buttons -->
  <!-- <p class="exzoom_btn">
      <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
      <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
  </p> -->
 
            <!-- Product Info -->
            <div class=" col-sm-8 col-md-6">
                <div class= "product-info icons">
                    <h2><%= product.ProductName %></h2>
                    <h5 style="color: rgb(223, 15, 15); font-size: large;">Rs <%= product.Price %> /-</h5>
                    <!-- <p>Price:<span class="text-decoration-line-through">6000/-</span> 4995/-</p> -->
                    <p><%= product.Description %></p>

                <!-- Color Variants -->
                <h4>Size Chart:</h4>
                <div class="color-variants col-2 col-sm-2 d-flex ">
                    <!-- <img src="/images/colors1.webp" alt="Color 1" class="img-thumbnail">
                    <img src="/images/colors2.webp" alt="Color 2" class="img-thumbnail">
                    <img src="/images/colors3.webp" alt="Color 3" class="img-thumbnail"> -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="size" id="sizeSmall" value="small">
                        <label class="form-check-label" for="sizeSmall" style="font-weight: 500;">
                         17-320
                        </label>
                    </div>
                </div>
                <!-- Product Actions -->
                <div class="product-actions">
                    <div class="counter">
                        <div class="container mt-5">
                            <div class="row">
                                
                                <a href="/addToCart/<%= product._id %>"><button class="btn btn-dark ml-3">Add to Cart</button></a>
                                <button class="btn btn-warning ml-3">Add to Wishlist</button> 
                            </div>
                        </div>
                    </div>
                    
<div class="container mt-5" style="border-top: 1px solid white;">
    <div class="row">
        <div class="col-md-6">
            <div class="justify-content-center align-items-center">
                <span class="">Tags:</span>
                Disk
                <br>
                <span class=" ">Category:</span>
                Brake
            </div>
        </div>
    </div>
</div>
                </div>
                   
            </div>
            
            </div>
            <div class="container-fluid" style="margin-top: 15vh;padding-top: 5vh; background: #ffff;">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h6 style="color: rgb(0, 0, 0);">Description</h6>
                    </div>
                    <div class="col-md-4">
                        <h6 style="color: grey;">Additional informations</h3>
                    </div>
                    <div class="col-md-4">
                        <h6 style="color: grey;">Reviews</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 10vh;">
                        <p style="text-align: center;">The Mirage AT MR-172 265/65 R17 is
                             a multipurpose all-terrain light truck tyre. It has been 
                             engineered to deliver high mileage. Mirage MR AT-172 Performs
                              best in on road and off road driving conditions. The Mirage 
                              AT MR-172 265/65 R17 has an aggressive tread design. Its aggressive
                               tread delivers excellent wet and dry traction. It also offers even 
                               tread wear hence longer tread life is achieved.stable tread block 
                               design provides better traction and improves cornering and braking in all weather conditions. 
                               Mirage AT MR-172 265/65 R17 Lateral sipes 
                            also help in improving mud snow and wet qualities.</p>
                    </div>
                </div>
            <% } %>
    </div>
<%- include('../partials/user-footer')%>
