<%- include('../layout/user/layout') %>
    <link rel="stylesheet" href="/stylesheet/productPage.css">
    <%- include('../partials/user-header')%>
        <div class="container-fluid" style="background-color:#c2bfbf;">
            <div class="row">
                <!-- Product Images -->
                <% if(product) { %>
                    <!-- Cover Image -->
                    <div class=" col-sm-4  d-flex ">
                        <div class="product-images  col-sm-4 side-img" style="padding: 2.4vw;">
                            <!-- <ul class="exzoom_img_ul"> -->
                            <img src="/uploads/<%= product.images[0] %>" alt="Product Image 1" id="defulatZoomingImg"
                                class="img-thumbnail mb-2">
                            <img src="/uploads/<%= product.images[1] %>" alt="Product Image 2"
                                class="img-thumbnail mb-2">
                            <img src="/uploads/<%= product.images[2] %>" alt="Product Image 3"
                                class="img-thumbnail mb-2">
                            <!-- </ul> -->

                        </div>
                        <div class="product-cover col-sm-8 rounded mx-auto d-block" style="margin-top: 5vh;">
                            <div id="img-container">

                                <img src="/uploads/<%= product.images[0] %>" id="selectedImage" alt="Cover Image"
                                    class=" img-fluid " style="border: 1px solid black;">
                            </div>
                        </div>
                    </div>

                    <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
                    <!-- <div class="exzoom_nav"></div> -->
                    <!-- Nav Buttons -->
                    <!-- <p class="exzoom_btn">
      <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
      <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
  </p> -->

                    <!-- Product Info -->
                    <div class=" col-sm-8 col-md-6">
                        <div class="product-info icons">
                            <h2>
                                <%= product.ProductName %>
                            </h2>
                            <h5
                                style="color: rgb(255, 0, 0); font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                Rs <%= product.DiscountAmount %> /-</h5>
                            <!-- <p>Price:<span class="text-decoration-line-through">6000/-</span> 4995/-</p> -->
                            <p>
                                <%= product.Description %>
                            </p>

                            <!-- Color Variants -->
                            <h4>Size Chart:</h4>
                            <div class="color-variants col-2 col-sm-2 d-flex ">
                                <!-- <img src="/images/colors1.webp" alt="Color 1" class="img-thumbnail">
                    <img src="/images/colors2.webp" alt="Color 2" class="img-thumbnail">
                    <img src="/images/colors3.webp" alt="Color 3" class="img-thumbnail"> -->
                                <div class="form-check" style="width: 300px;">
                                    <input class="form-check-input" type="radio" checked="size" id="sizeSmall"
                                        value="small">
                                    <label class="form-check-label" for="sizeSmall"
                                        style="font-weight: 500; width: 200px;">
                                        <%= product.Variation %>
                                    </label>
                                </div>
                            </div>
                            <% if(product.variants.length>0) {%>
                                <h5 class="mt-3" style="font-size: medium;">More Availvale Sizes : </h5>
                                <% product.variants.forEach(variantProduct=> { %>
                                    <a href="/product/<%= variantProduct._id %>"
                                        class="btn btn-sm btn-light btn-rounded">
                                        <%= variantProduct.Variation %>
                                    </a>
                                    <% }); %>
                                        <% } %>
                                            <!-- Product Actions -->
                                            <div class="product-actions">
                                                <div class="counter">
                                                    <div class="container mt-5">
                                                        <div class="row">
                                                            <% if (product.AvailableQuantity> 1){ %>
                                                                <a href="/addToCart/<%= product._id %>"><button
                                                                        class="btn btn-dark ">Add to Cart</button></a>
                                                                <% } else { %>
                                                                    <button class="btn btn-danger ml-3" disabled>Out Of
                                                                        Stock
                                                                    </button>
                                                                    <% } %>
                                                                        <button
                                                                            onclick="addToWishlist('<%= product._id %>', event)"
                                                                            class="btn btn-warning ml-3">Add to
                                                                            Wishlist</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="container mt-5" style="border-top: 1px solid white;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="justify-content-center align-items-center">
                                                                <span class="">Tags:</span>
                                                                Disk
                                                                <br>
                                                                <span class=" ">Category:</span>
                                                                Brake
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                        </div>

                    </div>
                    <div class="container-fluid" style="margin-top: 15vh;padding-top: 5vh; background: #ffff;">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <h6 class="active" id="descriptionTab">Description</h6>
                            </div>
                            <div class="col-md-4">
                                <h6>Additional informations</h3>
                            </div>
                            <div class="col-md-4">
                                <h6 id="reviewsTab">Reviews</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 10vh;">
                                <p id="descriptionText" style="text-align: center;">The Mirage AT MR-172 265/65 R17 is
                                    a multipurpose all-terrain light truck tyre. It has been
                                    engineered to deliver high mileage. Mirage MR AT-172 Performs
                                    best in on road and off road driving conditions. The Mirage
                                    AT MR-172 265/65 R17 has an aggressive tread design. Its aggressive
                                    tread delivers excellent wet and dry traction. It also offers even
                                    tread wear hence longer tread life is achieved.stable tread block
                                    design provides better traction and improves cornering and braking in all weather
                                    conditions.
                                    Mirage AT MR-172 265/65 R17 Lateral sipes
                                    also help in improving mud snow and wet qualities.</p>
                                <div id="reviewsText" style="display: none;">
                                    <!-- Include your review content here -->
                                    <div class="container mt-2">
                                        <div class="row">
                                            <!-- Leave a Review Card (Full Width) -->
                                            <% if (isUserHaveRight) {%>
                                                <div class="col-md-12 mb-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h2 class="card-title text-center">Leave a Review</h2>
                                                            <form id="reviewForm" action="/submit-review" method="POST">
                                                                <div class="form-group">
                                                                    <label for="review">Your Review:</label>
                                                                    <textarea class="form-control" id="review"
                                                                        name="review"
                                                                        placeholder="Write your review here..."></textarea>
                                                                </div>
                                                                <input type="hidden" value="<%= product._id %>"
                                                                    name="ProductId">
                                                                <button type="submit"
                                                                    class="btn btn-success btn-block">Submit
                                                                    Review</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% if (Reviews.length> 0
                                                        ) {%>
                                                        <% Reviews.forEach((review)=>{ %>
                                                            <!-- Review Cards (Two Columns) -->
                                                            <div class="col-md-6 mb-4">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <div class="d-flex justify-content-between">
                                                                            <h3 class="card-title">
                                                                                <%= review.UserId.Name%>
                                                                            </h3>
                                                                            <p class="text-muted">
                                                                                <%= review.Date %>
                                                                            </p>
                                                                        </div>
                                                                        <div class="card-text">
                                                                            <p>
                                                                                <%= review.Comment %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                                <% } else if(Reviews.length <1) {%>
                                                                    <div
                                                                        class="row justify-content-center align-items-center">
                                                                        <div class="col-12 text-center">
                                                                            <h4>No reviews till yet</h4>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                        </div>
                                    </div>


                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script src="/js/imageZoom.js"></script>
                    <script>
                        $(document).ready(function () {
                            var options = {
                                zoomType: 'lens',
                                width: 400,
                                zoomWidth: 400,
                                offset: {
                                    vertical: 0, horizontal: 20
                                },
                                onZoomIn: function () {
                                    // Change background color during zoom in
                                    $("#img-container").css("background-color", "#ffff");
                                },
                                onZoomOut: function () {
                                    // Reset background color after zoom out
                                    $("#img-container").css("background-color", "transparent");
                                }
                            };
                            new ImageZoom(document.getElementById("img-container"), options);
                            $("h6").click(function () {
                                $("h6").removeClass("active");
                                $(this).addClass("active");

                                if ($(this).attr('id') === 'descriptionTab') {
                                    $("#descriptionText").show();
                                    $("#reviewsText").hide();
                                } else if ($(this).attr('id') === 'reviewsTab') {
                                    $("#descriptionText").hide();
                                    $("#reviewsText").show();
                                }
                            });
                        });
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            document.getElementById("reviewForm").addEventListener("submit", function (e) {
                                e.preventDefault(); // Prevent the default form submission

                                // Get form data
                                var formData = new FormData(this);

                                // Convert form data to URL-encoded format
                                var urlEncodedData = new URLSearchParams(formData).toString();

                                // Make fetch request
                                fetch("/submit-review", {
                                    method: "POST",
                                    body: urlEncodedData,
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded',
                                    },
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error(`HTTP error! Status: ${response.status}`);
                                        }
                                        return response.json(); // assuming server responds with JSON
                                    })
                                    .then(data => {
                                        // Handle success response
                                        console.log("Review submitted successfully", data);
                                        let timerInterval
                                        Swal.fire({
                                            title: 'Thank You ',
                                            html: 'Successfully Submitted Your Review',
                                            timer: 2700,
                                            timerProgressBar: true,
                                            didOpen: () => {
                                                Swal.showLoading()
                                                const b = Swal.getHtmlContainer().querySelector('b')
                                                timerInterval = setInterval(() => {
                                                    b.textContent = Swal.getTimerLeft()
                                                }, 100)
                                            },
                                            willClose: () => {
                                                clearInterval(timerInterval)
                                                location.reload()
                                            }
                                        }).then((result) => {
                                            /* Read more about handling dismissals below */
                                            if (result.dismiss === Swal.DismissReason.timer) {

                                                // // You can update the UI or show a success message
                                                console.log('I was closed by the timer')
                                            }
                                        })
                                    })
                                    .catch(error => {
                                        // Handle error
                                        console.error("Error submitting review", error);
                                        // You can update the UI or show an error message
                                    });
                            });
                        });

                    </script>
                    <script>
                        function addToWishlist(productId, event) {
                            event.preventDefault(); // Prevent the default navigation behavior

                            fetch('/wishlist/' + productId, {
                                method: 'POST', // Change the HTTP method to POST
                                headers: {
                                    'Content-Type': 'application/json', // Set content type to JSON
                                },
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    if (data.message) {
                                        console.log('message')
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: `${data.message}`,
                                            // footer: '<a href="">Why do I have this issue?</a>'
                                        })
                                    } else {

                                        console.log('Success:', data);
                                        Swal.fire('Successfully Added to Wishlist')
                                        // window.location.href = '/wishlist'
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                        }
                    </script>


                    <%- include('../partials/user-footer')%>