<%- include('../layout/user/layout') %>
    <%- include('../partials/user-header') %>
        <div class="container-fluid bg-secondery" style="background: linear-gradient(234deg,white,rgb(147, 184, 209));">
            <% if(message.nomatch) { %>
                <div class="alert alert-danger" role="alert">
                    <%= message.nomatch %>
                </div>
                <% } %>
                    <% if(message.wrongOld) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= message.wrongOld %>
                        </div>
                        <% } %>
                            <% if(message.success) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= message.success %>
                                </div>
                                <% } %>
                                    <% if(message.profileUpdated) { %>
                                        <div class="alert alert-success" role="alert">
                                            <%= message.profileUpdated %>
                                        </div>
                                        <% } %>
                                            <div class="main-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="card mt-3 rounded-0">
                                                            <div class="card-body text-center">
                                                                <div
                                                                    class="d-flex p-2 justify-content-center align-items-center bg-dark">
                                                                    <h6 class="text-light">User Detials</h6>
                                                                </div>
                                                                <% if(user) { %>
                                                                    <div class="mt-3">
                                                                        <h4>
                                                                            <%= user.Name %>
                                                                        </h4>
                                                                        <div class="row mb-3">
                                                                            <div class="col-sm-3">
                                                                                <h6 class="mb-0">Full Name</h6>
                                                                            </div>
                                                                            <div class="col-sm-9 text-secondary">
                                                                                <form action="/profile" method="post">
                                                                                    <input type="text"
                                                                                        class="form-control" name="Name"
                                                                                        value="<%= user.Name %>">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mb-3">
                                                                            <div class="col-sm-3">
                                                                                <h6 class="mb-0">Mobile</h6>
                                                                            </div>
                                                                            <div class="col-sm-9 text-secondary">
                                                                                <input type="text" class="form-control"
                                                                                    name="MobNo"
                                                                                    value="<%= user.MobNo %>">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-6">
                                                                                <!-- Save Changes Button -->
                                                                                <form action="/profile" method="post">
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary btn-block">Save
                                                                                        Changes</button>
                                                                                </form>
                                                                                <% } %>
                                                                            </div>
                                                                            <div
                                                                                class="col-sm-12 col-md-6 mt-3 mt-md-0">
                                                                                <!-- Change Password Button -->
                                                                                <button type="button"
                                                                                    class="btn btn-info btn-block"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#changePasswordModal">Change
                                                                                    Password</button>
                                                                            </div>
                                                                            <div class="col-sm-12 mt-3">
                                                                                <!-- Logout Button -->
                                                                                <a href="/logout"
                                                                                    class="btn btn-secondary btn-block">Logout</a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mt-3">
                                                        <div class="card rounded-0">
                                                            <div class="card-body">
                                                                <div
                                                                    class="row col-md-12 ml-2 mb-2 justify-content-center pb-4 pt-2">

                                                                    <h4>Wallet Balance :</h4>
                                                                    <h4 class="text-success">₹ <%= user.Wallet %> /-
                                                                    </h4>

                                                                </div>

                                                                <div class="d-flex justify-content-center">
                                                                    <a href="/view-wallet-history"><button type="button"
                                                                            class="btn btn-outline-secondary px-4">View
                                                                            Wallet History</button></a>

                                                                </div>
                                                            </div>
                                                            <a class="btn text-dark d-flex-column  border-0">
                                                                <div class="wallet-header">
                                                                    Refer to your friends and earn
                                                                    <%=ReferalAmount[0].Amount %> in each.
                                                                </div>
                                                                <div>
                                                                    <h6>Your referral link : </h6>
                                                                    <h6 class="text-primary" id="referral-link">
                                                                        localhost:3002/signup/<%=user._id%>
                                                                    </h6>
                                                                </div>
                                                                <div class="p-4">
                                                                    <button id="copyButton"
                                                                        class="fa fa-copy fa-xl  border-0"></button>
                                                                </div>
                                                                <span id="copySuccessMessage"
                                                                    class="d-none fw-bold text-success"> Text copied to
                                                                    clipboard! </span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div
                                                    class="rounded-0 col-md-12 col-sm-6 d-flex justify-content-center align-items-center">
                                                    <div class="bg-warning text-center rounded col-md-4 col-sm-6 m-2"
                                                    style="border: 2px groove black;">
                                                    <a class="text-decoration-none" href="/Address">
                                                        <p class="p-1 pt-3"
                                                            style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                            Address
                                                        </p>
                                                    </a>
                                                    </div>
                                                    <div class="bg-warning text-center rounded col-md-4 col-sm-6 m-2"
                                                        style="border: 2px groove black;">
                                                        <p class="p-1 pt-3"
                                                            style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                            Orders
                                                        </p>
                                                    </div>
                                                    <div class="bg-warning text-center rounded col-md-4 col-sm-6  m-2"
                                                        style="border: 2px groove black;">
                                                        <p class="p-1 pt-3"
                                                            style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                            Coupons
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div
                                                    class="rounded-0 col-md-12 col-sm-6 d-flex justify-content-center align-items-center">
                                                    <div class="bg-warning text-center rounded col-md-4 col-sm-6  m-2"
                                                        style="border: 2px groove black;">
                                                        <p class="p-1 pt-3"
                                                            style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                            Wishlist
                                                        </p>
                                                    </div>
                                                    <div class="bg-warning text-center rounded col-md-4 col-sm-6  m-2"
                                                        style="border: 2px groove black;">
                                                        <p class="p-1 pt-3"
                                                            style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                            Cart
                                                        </p>
                                                    </div>
                                                    <div class="bg-warning text-center rounded col-md-4 col-sm-6  m-2"
                                                        style="border: 2px groove black;">
                                                        <p class="p-1 pt-3"
                                                            style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                            Contact
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
        </div>
        </div>
        </div>
        </div>
        <!-- Change Password Modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        <% if(message.nomatch) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= message.nomatch %>
                            </div>
                            <% } %>
                                <form action="/changePassword" method="post">
                                    <div class="mb-3">
                                        <label for="oldPassword" class="form-label">Old Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="oldPassword"
                                                name="oldPassword" required>
                                            <button type="button" class="btn btn-outline-secondary"
                                                id="oldPasswordToggle"
                                                style="background-color: rgba(212, 214, 216, 0.889);">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label">New Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="newPassword"
                                                name="newPassword" required>
                                            <button type="button" class="btn btn-outline-secondary"
                                                id="newPasswordToggle"
                                                style="background-color: rgba(212, 214, 216, 0.889);">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="confirmPassword"
                                                name="confirmPassword" required>
                                            <button type="button" class="btn btn-outline-secondary"
                                                id="confirmPasswordToggle"
                                                style="background-color: rgba(212, 214, 216, 0.889);">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="text-center text-lg-start text-muted mt-3" style="background-color: #f5f5f5;">
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start pt-4 pb-4">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-12 col-lg-3 col-sm-12 mb-2">
                            <!-- Content -->
                            <a href="/home" target="_blank" class="">
                                <img src="/assets/car_care_logo-removebg-preview.png" height="35" />
                            </a>
                            <p class="mt-2 text-dark">
                                © 2023 Copyright: CarCare.com
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-6 col-sm-4 col-lg-2">
                            <!-- Links -->
                            <h6 class="text-uppercase text-dark fw-bold mb-2">
                                Store
                            </h6>
                            <ul class="list-unstyled mb-4">
                                <li><a class="text-muted" href="#">About us</a></li>
                                <li><a class="text-muted" href="#">Find store</a></li>
                                <li><a class="text-muted" href="#">Categories</a></li>
                                <li><a class="text-muted" href="#">Blogs</a></li>
                            </ul>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-6 col-sm-4 col-lg-2">
                            <!-- Links -->
                            <h6 class="text-uppercase text-dark fw-bold mb-2">
                                Information
                            </h6>
                            <ul class="list-unstyled mb-4">
                                <li><a class="text-muted" href="#">Help center</a></li>
                                <li><a class="text-muted" href="#">Money refund</a></li>
                                <li><a class="text-muted" href="#">Shipping info</a></li>
                                <li><a class="text-muted" href="#">Refunds</a></li>
                            </ul>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-6 col-sm-4 col-lg-2">
                            <!-- Links -->
                            <h6 class="text-uppercase text-dark fw-bold mb-2">
                                Support
                            </h6>
                            <ul class="list-unstyled mb-4">
                                <li><a class="text-muted" href="#">Help center</a></li>
                                <li><a class="text-muted" href="#">Documents</a></li>
                                <li><a class="text-muted" href="#">Account restore</a></li>
                                <li><a class="text-muted" href="#">My orders</a></li>
                            </ul>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-12 col-sm-12 col-lg-3">
                            <!-- Links -->
                            <h6 class="text-uppercase text-dark fw-bold mb-2">Newsletter</h6>
                            <p class="text-muted">Stay in touch with latest updates about our products and offers</p>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control border" placeholder="Email" aria-label="Email"
                                    aria-describedby="button-addon2" />
                                <button class="btn btn-light border shadow-0" type="button" id="button-addon2"
                                    data-mdb-ripple-color="dark">
                                    Join
                                </button>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <div class="">
                <div class="container">
                    <div class="d-flex justify-content-between py-4 border-top">
                        <!--- payment --->
                        <div>
                            <i class="fab fa-lg fa-cc-visa text-dark"></i>
                            <i class="fab fa-lg fa-cc-amex text-dark"></i>
                            <i class="fab fa-lg fa-cc-mastercard text-dark"></i>
                            <i class="fab fa-lg fa-cc-paypal text-dark"></i>
                        </div>
                        <!--- payment --->

                        <!--- language selector --->
                        <div class="dropdown dropup">
                            <a class="dropdown-toggle text-dark" href="#" id="Dropdown" role="button"
                                data-mdb-toggle="dropdown" aria-expanded="false"> <i
                                    class="flag-united-kingdom flag m-0 me-1"></i>English </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i
                                            class="fa fa-check text-success ms-2"></i></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
                                </li>
                            </ul>
                        </div>
                        <!--- language selector --->
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
        <style>
            .card {



                border-radius: 2.5rem;
                margin-bottom: 1.5rem;
                box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Get the password input fields
                const oldPasswordInput = document.getElementById('oldPassword');
                const newPasswordInput = document.getElementById('newPassword');
                const confirmPasswordInput = document.getElementById('confirmPassword');

                // Get the corresponding toggle buttons and initial icon classes
                const toggleButtons = {
                    oldPassword: document.getElementById('oldPasswordToggle'),
                    newPassword: document.getElementById('newPasswordToggle'),
                    confirmPassword: document.getElementById('confirmPasswordToggle')
                };

                // Toggle password visibility
                function togglePasswordVisibility(input, toggleButton) {
                    const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                    input.setAttribute('type', type);

                    // Update the button icon based on the password visibility
                    const iconClass = type === 'password' ? 'fa-eye' : 'fa-eye-slash';
                    toggleButton.innerHTML = `<i class="fa ${iconClass}"></i>`;
                }

                // Attach click event listeners to toggle buttons
                for (const key in toggleButtons) {
                    if (Object.hasOwnProperty.call(toggleButtons, key)) {
                        const toggleButton = toggleButtons[key];
                        const inputField = document.getElementById(key);

                        toggleButton.addEventListener('click', function () {
                            togglePasswordVisibility(inputField, toggleButton);
                        });
                    }
                }
            });
        </script>
        <script>
            document.getElementById("copyButton").addEventListener("click", function () {
                const referralLink = document.getElementById("referral-link").textContent;

                const tempInput = document.createElement("input");
                tempInput.value = referralLink;
                document.body.appendChild(tempInput);

                tempInput.select();
                document.execCommand("copy");

                document.body.removeChild(tempInput);

                const successMessage = document.getElementById("copySuccessMessage");
                successMessage.classList.remove("d-none");

                setTimeout(function () {
                    successMessage.classList.add("d-none");
                }, 3000);
            });
        </script>


        <%- include('../layout/user/footer') %>