<%- include('../layout/user/layout') %>
<link rel="stylesheet" href="/stylesheet/user-shop.css">
<%- include('../partials/user-header') %>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Shop</h1>
            </div>
        </div>
    </div>
    <!-- filter sortby -->
    <!-- <div class="container-fluid filterdiv mt-3" >
        <div class="row mt-3">
          <div class="col-md-4 filter">
            Filter content goes here

            <label for="filterInput ">Filter:</label>
            <input type="text" id="filterInput" name="filterInput">
            Add your filter options and content here
          </div>
      
          <div class="col-md-8 sort">
            Sort By content goes here
            <div class="form-inline float-md-right">
              <label class="mr-2" for="sortBySelect">Sort By:</label>
              <select class="form-control" id="sortBySelect">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
              </select>
            </div>
          </div>
        </div>
      </div> -->
    <!-- cards -->
   
            <div class="container">
                <div class="row">
                    <% products.forEach(function(product) { %>
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <img src="/uploads/<%= product.images[0] %>" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.ProductName %></h5>
                                    <p class="card-text">Price: $<%= product.Price %></p>
                                    <!-- Add any additional product information here -->
                                    <a href="/product/<%= product._id %>" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        
        </div>
    </div>


    
<%- include('../partials/user-footer') %>