<%- include('../layout/user/layout') %>
    <link rel="stylesheet" href="/stylesheet/user-signup.css">

    <%- include('../partials/user-header') %>
        <!-- 1 st div layer -->
        <div class="container-fluid main-layer pb-3">
            <div class="row justify-content-center align-items-center" style="height: auto;">
                <div class="col-md-3  rounded signup shadow m-4 mb-4">
                    <!-- Content for the left column -->
                    <% if(locals.message.error){ %>
                        <p class="alert mt-1 alert-danger" role="alert">
                            <%= message.error %>
                        </p>
                        <% } %>
                            <% if (message) { %>
                                <p style="color: red; font-size: medium; font-family: 'Times New Roman', Times, serif;">
                                    <%= message.exists %>
                                </p>
                                <% } %>
                                    <% if(locals.message.banned){ %>
                                        <div class="alert alert-danger" role="alert">
                                            <%= message.banned %>
                                        </div>
                                        <% } %>
                                            <div class=" ml-5 " style="margin-right: -0px;">
                                                <h2>Register</h2>
                                                <p style="font-size: small;">Already have an account? <a
                                                        href="/login"><u>LOG IN</u></a></p>
                                                <div class="container-fluid d-flex ">
                                                    <div class="row justify-content-center" style="height: 100%;">
                                                        <div class="col-md-6  ">
                                                            <% if (locals.referedUser) {%>
                                                                <form action="/verifyEmail/<%=referedUser %>"
                                                                    method="get" style="margin-left: -9vw;">
                                                                    <% } else { %>
                                                                        <form action="/verifyEmail" method="get"
                                                                            style="margin-left: -9vw;">
                                                                            <% } %>
                                                                                <div class="form-group">
                                                                                    <label
                                                                                        for="email pl-5">Email</label>
                                                                                    <div class="input-group">
                                                                                        <input style="width:124%"
                                                                                            type="email" name="email"
                                                                                            required
                                                                                            class="form-control "
                                                                                            id="email"
                                                                                            placeholder="Enter your email"
                                                                                            value="<%=locals.email%>">
                                                                                    </div>
                                                                                    <button
                                                                                        class="btn btn-primary btn-sm mt-4"
                                                                                        id="verifyButton"
                                                                                        type="submit">verify
                                                                                        Email</button>
                                                                                </div>
                                                                        </form>
                                                                        <% if (locals.referedUser) {%>
                                                                            <form class="form"
                                                                                action="/signup/<%= referedUser %>"
                                                                                method="post">
                                                                                <% } else { %>
                                                                                    <form class="form" action="/signup"
                                                                                        method="post">
                                                                                        <% } %>

                                                                                            <div class="form-group ">


                                                                                                <div
                                                                                                    id="verificationResult">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label
                                                                                                    for="newPassword">New
                                                                                                    Password</label>
                                                                                                <input type="password"
                                                                                                    name="Password"
                                                                                                    required
                                                                                                    class="form-control"
                                                                                                    id="newPassword"
                                                                                                    placeholder="Enter new password">
                                                                                                <div id="password-whitespace-msg"
                                                                                                    style="color: red; font-size: small;">
                                                                                                </div>
                                                                                                <div id="password-length-msg"
                                                                                                    style="color: red; font-size: small;">
                                                                                                </div>
                                                                                                <div id=" password-strength-msg"
                                                                                                    style="color: red; font-size: small;">
                                                                                                </div>


                                                                                            </div>
                                                                                            <!--  -->


                                                                                            <!--  -->
                                                                                            <div class="form-group">
                                                                                                <label
                                                                                                    for="confirmPassword">Confirm
                                                                                                    Password</label>
                                                                                                <input type="password"
                                                                                                    name="confirmPassword"
                                                                                                    required
                                                                                                    class="form-control"
                                                                                                    id="confirmPassword"
                                                                                                    placeholder="Confirm new password">
                                                                                            </div>

                                                                                            <!-- tick -->
                                                                                            <div class="container">
                                                                                                <div class="row"
                                                                                                    style="height: auto;">
                                                                                                    <div
                                                                                                        class="col-md-12">
                                                                                                        <div class="form-check"
                                                                                                            style="margin-left: -12px;">
                                                                                                            <input
                                                                                                                class="form-check-input"
                                                                                                                required
                                                                                                                type="checkbox"
                                                                                                                id="subscribeCheckbox">
                                                                                                            <label
                                                                                                                style="font-size: 0.6rem;"
                                                                                                                class="form-check-label"
                                                                                                                for="subscribeCheckbox">
                                                                                                                I am
                                                                                                                agreeying
                                                                                                                all the
                                                                                                                terms
                                                                                                                and
                                                                                                                conditions
                                                                                                                by
                                                                                                                clicking
                                                                                                                create
                                                                                                                account
                                                                                                                Button
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                            <button type="submit"
                                                                                                id="submitButton"
                                                                                                class=" mt-3 ml-0 mb-3 rounded-pill btn btn-color">Create
                                                                                                an
                                                                                                account</button>
                                                                                    </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                </div>
                <div class="col-md-5 ">
                    <!-- Content for the right column -->
                    <div class="">
                        <img src="/assets/tools.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                // Email validation
                $('#email').on('input', function () {
                    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    const isEmailValid = emailRegex.test($(this).val());

                    if (isEmailValid) {
                        $('#email-validation-msg').text('');
                    } else {
                        $('#email-validation-msg').text('Invalid email format');
                    }
                });

                // Password length validation
                $('#newPassword').on('input', function () {
                    const password = $(this).val();
                    const hasUpperCase = /[A-Z]/.test(password);
                    const hasLowerCase = /[a-z]/.test(password);
                    const hasDigit = /\d/.test(password);
                    const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password);

                    // Password strength checks
                    if (password.length >= 8 && hasUpperCase && hasLowerCase && hasDigit && hasSpecialChar) {
                        $('#password-strength-msg').text('Password strength: Strong');
                    } else {
                        $('#password-strength-msg').text('Password strength: Weak');
                    }

                    // White space validation
                    if (/\s/.test(password)) {

                        $('#password-whitespace-msg').text('Password cannot contain white spaces');
                        $('#submitButton').prop('disabled', true);
                    } else {
                        $('#password-whitespace-msg').text('');
                        $('#submitButton').prop('disabled', false);
                    }

                    // Password length validation
                    if (password.length >= 8) {
                        $('#password-length-msg').text('');
                    } else {
                        $('#submitButton').prop('disabled', true);
                        $('#password-length-msg').text('Password must be at least 8 characters long');
                    }
                });
            });
        </script>

        <%- include('../partials/user-footer') %>